footer#contacto.bg-danger.text-white.pt-5.pb-5
   .container.pt-5
      .row
         .col-md-4.mb-5.mb-md-0
            h3.font-weight-bold.mb-5 Nosotros
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa consequatur sit omnis saepe expedita, quibusdam numquam consectetur minus tempora delectus.
            p Todos los derechos reservados &copy;
         .col-md-4.mb-5.mb-md-0
            h3.font-weight-bold.mb-5 Contáctanos
            address 
               i.fas.fa-map-marker-alt.mr-2(aria-hidden="true")
               |Calle 52 b # 325-963 - Pereira/Colombia
            p 
               i.fas.fa-phone.mr-2
               |55-5555-8888
         .col-md-4
            h3.font-weight-bold.mb-5 Suscríbete
            form
               .form-group
                  label(for="inputName") Nombre:
                  input.form-control(type="text" placeholder="Ingresa tu nombre")
               .form-group
                  label(for="inputName") Email:
                  input.form-control(type="email" placeholder="Ingresa tu email")
               button.btn.btn-primary(type='submit') Suscríbete