nav.navbar.navbar-dark.navbar-expand-lg
   a.navbar-brand(href="index.html")
      img.img-fluid(src="assets/img/digitalArt.png", alt="Logotipo de la empresa, DigitalArt")
   button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-head" aria-controls="navbar-head" aria-expanded="false" aria-label="Mostrar navegacion")
      span.navbar-toggler-icon
   #navbar-head.collapse.navbar-collapse
      ul.navbar-nav.ml-auto.mt-4.mt-lg-0
         li.nav-item
            a.nav-link.active(href="#inicio") Inicio
         li.nav-item
            a.nav-link(href="#intro") Empresa
         li.nav-item
            a.nav-link(href="#banner") Banner
         li.nav-item
            a.nav-link(href="#servicios") Servicios
         li.nav-item
            a.nav-link(href="#galeria") Galería
         li.nav-item
            a.nav-link(href="#testimonios") Testimonios
         li.nav-item
            a.nav-link(href="#contacto") Contacto